body {
  background-color: #1b1b1b;
  color: #FFFFFF;
  font-family: 'IBM Plex Mono', monospace;
  padding: 18vh 1rem;
  text-align: center;
}

#header {
  padding: 20px 0;
}

.logo {
  font-family: 'Press Start 2P', cursive;
}

a {
  color: rgba(#FFF, 0.7);

  &:focus,
  &:hover {
    color: rgba(#FFF, 0.6);
  }
}

#twitch-button {
  background-color: #6441A4;
  border-color: #6441A4;
}

a.button {
  display: inline-flex;
  padding: 10px 20px;
  flex-direction: "row";
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 25px;
  background-color: "white";
  -webkit-appearance: 'button';
  text-decoration: none;
}

.service-logo {
  height: 30px;
  margin: 0 15px 0 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.cell {
  align-items: center;
  text-align: left;
  padding: 10px;
  margin: 10px;
  width: 400px;
}

.cell-header {
  color:white;
  border-bottom: 1px solid #84888e;
  padding: 10px 0px;
}

li {
  padding: 8px 0 8px 0
}