---
title: RaiderRC
---

<div id="header">
  <h1 class="logo">
    RaiderRC
  </h1>
</div>

<div id="cta">
  <% link_to "https://www.twitch.tv/raiderrc", target: "_blank", :class => "button", :id => "twitch-button"  do %>
    <%= image_tag 'Glitch_White_RGB.png', :class => "service-logo"  %>
    Watch Live
  <% end %>
</div>

<div class="row">
  <div id="about" class="cell">
    <h3 class="cell-header">
      Bio
    </h3>
    <p class="cell-body">
      TBD
    </p>
  </div>

  <div id="specs" class="cell">
    <h3 class="cell-header">
      Specs
    </h3>
    <ul class="cell-body">
      <li>TBD</li>
    </ul>
  </div>
</div>
