---
title: RaiderRC
---

<h1>
  RaiderRC
</h1>

<div class="row">
  <div id="about" class="cell">
    <h3 class="cell-header">
      About Me
    </h3>
    <p>
      I'm RaiderRC. I stream PUBG Battlegrounds.
    </p>
  </div>

  <div id="support" class="cell">
    <h3 class="cell-header">
      Support
    </h3>
    <p>
      Support me on <%= link_to("Twitch", "https://www.twitch.tv/raiderrc", target: "blank") %>
    </p>
  </div>
</div>

<div class="row">
  <div id="find-me" class="cell">
    <h3 class="cell-header">
      Find Me
    </h3>
    <% link_to "https://www.twitch.tv/raiderrc", target: "_blank" do %>
      <%= image_tag 'twitch_logo_white.png', :class => "service-logo"  %>
    <% end %>

    <% link_to "https://steamcommunity.com/profiles/76561198260531016", target: "_blank" do %>
      <%= image_tag 'steam_logo.png', :class => "service-logo"  %>
    <% end %>
  </div>

  <div id="schedule" class="cell">
    <h3 class="cell-header">
      Schedule
    </h3>
  </div>
</div>

