---
title: RaiderRC
---

<div id="header">
  <h1 class="logo">
    RaiderRC
  </h1>
</div>

<div id="cta">
  <% link_to "https://www.twitch.tv/raiderrc", target: "_blank", :class => "button", :id => "twitch-button"  do %>
    <%= image_tag 'Glitch_White_RGB.png', :class => "service-logo"  %>
    Watch Live
  <% end %>
</div>

<div class="row">
  <div id="about" class="cell">
    <h3 class="cell-header">
      Bio
    </h3>
    <p class="cell-body">
      TBD
    </p>
  </div>

  <div id="specs" class="cell">
    <h3 class="cell-header">
      Specs
    </h3>
    <ul class="cell-body">
      <li>Monitor: LG 34UC79G-B - 34" Curved IPS LED Monitor - 21:9</li>
      <li>Processor: IS 8600k</li>
      <li>Mobo: MSI Z370x carbon pro AC</li>
      <li>Graphics: MSI Rx580 4gb</li>
      <li>Mouse: Zealot C12</li>
      <li>Keyboard: DBPower 3 LED keyboard</li>
      <li>Headset: Logitech G930</li>
    </ul>
  </div>
</div>
